<div class="border-start border-5 border-dark m-3 p-2">
  <h1>Your question</h1>
  <%= @question %>
</div>

  <div class="border-start border-5 border-dark m-3 p-2 bg-warning text-dark bg-opacity-15">
    <h1>Your answer</h1>
    <%= @answer %>
  </div>
